.title {
    background-color: #1d8080;
    color: rgb(224, 235, 230);
}
.profilkep {
    border-radius: 40%;
}
.text_res {
    text-align: center;
    width: 30%;
    margin:auto
}

hr {
    border: dotted #159191 6px;
    border-bottom: none;
    width: 4%;
    margin: 50px auto ;

}

.footer {
    background-color: #1d8080;
    /* color: aliceblue; */
}
h1 {
    color: #1d8080;
}

.body body{
    background-color: rgb(248, 247, 244);
}